<script>

    /*for (var counter =1; counter <= 10; counter=counter+1){
        if (counter % 2 == 1) {
            document.write(counter+"<br>");
        }
    }*/

    for (var counter =1; counter <= 10; counter=counter+1){
            document.write(counter+" Hello<br>");
    }


     /*function add(number1,number2) {
         var result = number1 + number2;
         return result;
     }

     alert(add(12,52));
     console.log(add(125,5));
    document.write(add(23,7));*/
</script>